@import url('https://fonts.googleapis.com/css2?family=Aboreto&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.home {
  display: flex;
  justify-content: space-between;
}

.left-content {
  width: 50%;
  height: 100vh;
  position: fixed;
  top: 0;
}

.left-content img {
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

.left-content .logo {
  position: absolute;
  top: 25px;
  left: 25px;
  font-family: 'Aboreto', cursive;
  color: white;
  font-weight: 700;
  font-size: 22px;
}

.right-content {
  width: 50%;
  position: absolute;
  right: 0;
  top: 0;
}

@media only screen and (max-width: 900px) {
  .home {
    flex-direction: column;
  }

  .left-content {
    width: 100%;
    position: relative;
    height: 70vh;
  }

  .left-content img {
    height: 100%;
  }

  .right-content {
    width: 100%;
    position: relative;
  }
}