@import url('https://fonts.googleapis.com/css2?family=Aboreto&family=Itim&display=swap');

.item {
    display: flex !important;
    margin: 20px;
    font-family: 'Itim', cursive;
}

.img img {
    width: 300px;
    height: 300px;
}

.text {
    padding: 30px;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.text span {
    color: rgb(215, 65, 212);
    font-size: 16px;
    font-weight: 700;
}

.text span,
h3,
p {
    margin: 15px 0;
}

.text h3 {
    font-size: 25px;
    color: rgb(62, 61, 63);
}

.text p {
    color: rgb(113, 106, 98);
}

@media only screen and (max-width: 900px) {
    .item {
        flex-direction: column;
        margin: 0;
        padding: 10px;

    }

    .img img {
        width: 95%;
        margin: auto;
    }

    .text {
        padding: 30px 10px;
    }

    .text span,
    h3,
    p {
        margin: 10px 0;
    }
}